@use "../../../../../styles/variables" as *;
.main-container {
  grid-template-rows: repeat(2, min-content);
  row-gap: 4rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.3s ease-in-out;

  &--active {
    opacity: 1;
    transform: translateY(0);
  }
  .graphs {
    grid-column: 3 / 8;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-bottom: 6rem;
  }
}
