@use "../../styles/variables" as *;

.loader {
  width: 10%;
  height: 10%;
  position: relative;
  z-index: 70;

  &-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: $light-grey;
    z-index: 9999;
  }
}
