@use "../../../../styles/variables" as *;

.project-table {
  border-radius: 2rem;
  overflow: hidden;
  background-color: white;
  border: 0.1rem solid $light-grey;
  margin-bottom: 4rem;

  .row {
    height: 6.7rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem 2.4rem;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;

    button {
      height: auto;
    }

    &-head {
      background-color: $dark-blue;

      .delete-button {
        grid-column: 5 / 6;
        background-color: white;
      }

      .project-name {
        display: flex;
        grid-column: 1 / 3;
        gap: 2rem;
        color: white;
        align-items: center;
      }
    }

    .project-button {
      &.multiple-alternative {
        &:nth-child(1) {
          grid-column: 3/5;
        }
        &:last-of-type {
          grid-column: 5/6;
        }
      }

      &.single-alternative {
        grid-column: 5/6;

        &.download-button {
          grid-column: 4 / 5;
          grid-row: 1 / 1;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &-alternative {
      border-bottom: 0.1rem solid $light-grey;
      padding: 1rem 0;
      margin: 0 2.4rem;

      .alternative {
        &-name {
          display: flex;
          grid-column: 1 / 3;
          gap: 2rem;
          align-items: baseline;
        }

        &-link {
          color: black;
          display: flex;
          align-items: baseline;

          .date {
            padding-right: 0.5 rem;
          }
        }
      }
    }
  }
}
