@use "../../../../../styles/variables" as *;
.main-container {
  grid-template-rows: repeat(2, min-content);
  row-gap: 4rem;
  .graphs {
    grid-column: 3 / 8;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}
