@use "../../../../../../../styles/variables" as *;

.container {
  &:not(.preview) {
    background-color: white;
    padding: 4rem 5rem;
    border-radius: 4rem;
    overflow: hidden;
  }

  &.preview {
    pointer-events: none;
  }

  &.negative {
    background-color: $darker-blue;
    border-radius: 0 0 4rem 0;
    // position: absolute;
    box-shadow: 4px 2px 6px 2px rgba(0, 0, 0, 0.14);
    border: 0.1rem solid white;
    width: 60vh;
    box-sizing: border-box;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   margin: auto;
    //   width: 1rem;
    //   height: 1rem;
    //   border-top: 0.2rem solid white;
    //   border-left: 0.2rem solid white;
    //   display: block;
    //   left: 2rem;
    //   top: 2rem;
    // }
  }

  .title {
    margin-bottom: 3rem;
  }
}

ul.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  flex-direction: column-reverse;

  .filter {
    &-item {
      &:has(input:checked) {
        .filter-label {
          &:before {
            background: url("../../../../../../../../public/icons/check.svg")
              no-repeat center;
            background-size: 1.1rem;
          }
        }
      }
    }
    &-label {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;

      &:before {
        content: "";
        width: 1.6rem;
        height: 1.6rem;
        border: 0.2rem solid $basic-grey;
        display: block;
        border-radius: 0.5rem;
      }

      input {
        display: none;
      }
    }

    &-color {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 0.3rem;
    }
  }
}

ul.legend {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;

  .percentage {
    color: white;
    padding: 0.4rem 1rem 0.2rem;
    border-radius: 2rem;
    width: fit-content;
  }
}
