@use "../../../../../styles/variables" as *;

.summary {
  grid-template-rows: repeat(2, min-content);

  .tables-container {
    grid-column: 3 / 8;
  }

  .summary-buttons {
    grid-column: 3 / 8;

    .summary-button {
      width: fit-content;
      margin: 5rem auto auto auto;
    }
  }
}
