@use "../../../../../../styles/variables" as *;

.radar {
  &-graph-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.data-label {
  background-color: red;
}

:global(.recharts-wrapper) {
  width: 100% !important;
  height: 100% !important;

  :global(.recharts-polar-grid-concentric) {
    display: none;
  }
}
