@use "../../../styles/variables" as *;

.steps-slider-container {
  grid-column: 1 / 10;
  display: grid;
  grid-template-columns: subgrid;

  .step-box {
    background-color: white;
    height: 100%;
    grid-column: 3 / 8;
    transition: transform 0.5s, opacity 0.5s;
    will-change: transform, opacity;
    opacity: 1;
    transform: translateX(0);
  }

  .step-box.slide-out {
    opacity: 0;
    transform: translateX(-100%);
  }

  .step-box.slide-in {
    opacity: 1;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
