@use "../../../../styles/variables" as *;
.nav-buttons {
  grid-column: 4/7;
  display: grid;
  grid-template-columns: repeat(2, 14rem);
  justify-content: center;
  height: 4.2rem;
  margin: auto;
  gap: 2rem;
  justify-items: center;
  padding: 5rem 0 7rem 0;

  .nav-button {
    width: 100%;
    &:after,
    &:before {
      //   content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem !important;
      background: url("../../../../../public/icons/arrow-down_dark-blue.svg")
        no-repeat center;
    }

    &.previous {
      padding: 1rem 1rem 1rem 2rem;
      grid-column: 1/2;

      &:before {
        content: "";
        rotate: 90deg;
      }
    }

    &.next {
      padding: 1rem 2rem 1rem 1rem;
      grid-column: 2/3;

      &:after {
        content: "";
        rotate: -90deg;
      }
    }

    &:hover {
      background-color: $dark-blue;
      color: white;

      &:after,
      &:before {
        background-size: 1.5rem !important;
        background: url("../../../../../public/icons/arrow-down_white.svg")
          no-repeat center;
      }
    }
  }
}
