@use "../../../../styles/variables" as *;

.questionnaire-container {
  position: relative;
  grid-template-rows: repeat(3, min-content);

  @include scroll-bar;

  .questionnaire-header {
    grid-column: 3 / 8;
    padding: 7.6rem 0 0rem 0;
    position: sticky;
    top: -20rem;
    margin-bottom: 3rem;
    background-color: $lime-light;
    z-index: 1;

    .chapter-title {
      border-bottom: 0.1rem solid black;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    .chapter-subtitle {
      margin: 4rem 0 2rem 0;
      top: 2rem;
      position: sticky;

      .number {
        padding-left: 1rem;
        display: inline-block;
      }

      + .description {
        // margin-bottom: 4rem;
      }
    }

    .chapter-subtitle,
    .chapter-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:after {
        content: "";
        background: transparent;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem !important;
        background: url("../../../../../public/icons/arrow-down.svg") no-repeat
          center;
        rotate: 0deg;
        cursor: pointer;
        transition: 0.3s all;
      }

      &.open {
        &:after {
          rotate: 180deg;
        }
      }
    }

    .description {
      overflow: hidden;
      transition: 0.3s all;
      position: sticky;
      top: 10rem;
    }
  }
}
