@use "../../../../../../styles/variables" as *;

.questionnaire-container {
  position: relative;
  grid-template-rows: repeat(3, min-content);
  padding-bottom: 0;

  .questionnaire-header {
    grid-column: 3 / 8;
    position: sticky;
    top: -20rem;
    margin-bottom: 3rem;
    background-color: $light-blue;
    z-index: 1;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.3s ease-in-out;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }

    .chapter-title-container {
      display: flex;
      flex-direction: column;
      max-height: 3.5rem;
      overflow: hidden;
      transition: max-height 0.5s ease-out;

      &.open {
        max-height: 100%;
      }

      .chapter-title {
        border-bottom: 0.1rem solid black;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }

    .description-chapter-subtitle-container {
      display: flex;
      flex-direction: column;
      max-height: 7.5rem;
      overflow: hidden;
      transition: max-height 0.5s ease-out;

      &.open {
        max-height: 100%;
      }
    }

    .chapter-subtitle {
      margin: 4rem 0 2rem 0;
      top: 2rem;
      // position: sticky;

      .number {
        padding-left: 1rem;
        display: inline-block;
      }

      + .description {
        // margin-bottom: 4rem;
      }
    }

    .chapter-subtitle,
    .chapter-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:after {
        content: "";
        background: transparent;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem !important;
        background: url("../../../../../../../public/icons/arrow-down.svg")
          no-repeat center;
        rotate: 0deg;
        cursor: pointer;
        transition: 0.3s all;
      }

      &.open {
        &:after {
          rotate: 180deg;
        }
      }
    }

    // .description {
    //   max-height: 0;
    //   overflow: hidden;
    //   transition: max-height 0.5s ease-out;
    // }
  }
}
