@use "./variables" as *;
@use "sass:color";

.main-container {
  grid-column: 4/13;
  display: grid;
  grid-template-columns: subgrid;
  background-color: $light-blue;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7.6rem 0;
  @include scroll-bar;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  line-height: 0.5rem;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
  height: 4.2rem;
  padding: 1rem 2rem;

  &.outline {
    background-color: white;
    border: 0.1rem solid $dark-blue;
    color: $dark-blue;

    &:hover {
      background-color: $dark-blue;
      color: white;
    }
  }

  &.solid {
    background-color: $dark-blue;
    color: white;

    &:hover {
      background-color: color.adjust($dark-blue, $lightness: -10%);
      color: white;
    }

    &:disabled {
      background-color: $light-grey;
      cursor: not-allowed;
    }
  }

  &.with-icon {
    gap: 1.2rem;
  }
}
