@use "./variables" as *;
@use "sass:color";

body {
  overflow: hidden;

  @media only screen and (max-width: 1023px) {
    font-size: 2.3rem;
  }
}

.main-container {
  grid-column: 4/13;
  display: grid;
  // grid-template-columns: subgrid;
  grid-template-columns: repeat(9, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7.6rem 0;
  @include scroll-bar;

  &-full {
    grid-column: 4/10;
    grid-template-columns: auto;
    grid-template-rows: min-content;
  }
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  line-height: 0.5rem;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
  height: 4.2rem;
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;

  &.outline {
    background-color: transparent;
    border: 0.1rem solid $blue;
    color: $blue;

    &:hover {
      background-color: $blue !important;
      color: white;
    }
  }

  &.solid {
    background-color: $blue;
    color: white;
    position: relative;

    &:hover {
      background-color: color.adjust($blue, $lightness: -10%);
      color: white;
    }

    &:disabled {
      background-color: $light-grey;
      cursor: not-allowed;
    }

    &.loading {
      color: transparent;
      pointer-events: none;
      &:before {
        content: "";
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin: auto;
        inset: 0;
        background: url("../../public/icons/spinner_white.svg") no-repeat center;
        background-size: 2rem !important;
      }
    }

    &.warning {
      background-color: $validation-red;

      &:hover {
        background-color: color.adjust($validation-red, $lightness: -10%);
        color: white;
      }
    }
  }

  &.with-icon {
    gap: 1.2rem;
  }
}

.big-button {
  border-radius: 0.6rem;
  background: $blue;
  color: white;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  height: 10rem;
  display: inline-flex;
  align-self: flex-start;
  padding: 0 3rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.056rem;
  width: 100%;
  box-sizing: border-box;
}

.link-button {
  text-decoration: underline;
  padding-right: 1rem;

  &.blue {
    color: $blue;
  }
}

.text-link {
  color: black;
  text-decoration: underline;
}

.link {
  color: $blue;
  padding-right: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  &:after {
    content: "";

    background-size: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    display: block;
  }

  &.white {
    color: white;

    &:after {
      background: url("../../public/icons/edit_icon_white.svg") no-repeat center;
    }
  }

  &.black {
    color: black;

    &:after {
      background: url("../../public/icons/edit_icon_black.svg") no-repeat center;
    }
  }
}

button.with-icon,
a.with-icon {
  &:after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem !important;
  }

  &.download {
    &:after {
      background: url("../../public/icons/download_icon.svg") no-repeat center;
    }
    &:hover {
      &:after {
        background: url("../../public/icons/download_icon_white.svg") no-repeat
          center;
      }
    }
    // display: none;
  }

  &.print {
    &:after {
      background: url("../../public/icons/print_icon.svg") no-repeat center;
    }
    &:hover {
      &:after {
        background: url("../../public/icons/print_icon_white.svg") no-repeat
          center;
      }
    }
  }

  &.delete {
    &:after {
      background: url("../../public/icons/trash.svg") no-repeat center;
    }
    &:hover {
      &:after {
        background: url("../../public/icons/trash_white.svg") no-repeat center;
      }
    }
  }

  &.add {
    &:after {
      background: url("../../public/icons/add_icon.svg") no-repeat center;
    }
    &:hover {
      &:after {
        background: url("../../public/icons/add_icon_white.svg") no-repeat
          center;
      }
    }
  }

  &.add-alternative {
    &:after {
      background: url("../../public/icons/add_alternative_icon.svg") no-repeat
        center;
    }
    &:hover {
      &:after {
        background: url("../../public/icons/add_alternative_icon_white.svg")
          no-repeat center;
      }
    }
  }
}

.toggle-container {
  color: $basic-grey;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  .toggle {
    width: 3.6rem;
    height: 2rem;
    background-color: $light-grey;
    border-radius: 1.2rem;
    position: relative;
    transition: all 0.3s;

    &:after {
      position: absolute;
      background-color: white;
      filter: drop-shadow(0 1px 2px rgba(16, 24, 40, 0.06))
        drop-shadow(0 1px 3px rgba(16, 24, 40, 0.1));
      width: 1.5rem;
      height: 1.5rem;
      content: "";
      display: block;
      border-radius: 100%;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0.3rem;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      background-color: $dark-grey;
      &:after {
        left: 1.8rem;
      }
    }
  }
}

// Animation//

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2rem);
  }
}

.main-container--enter {
  animation: fadeInUp 0.3s ease-in-out forwards;
}

.main-container--exit {
  animation: fadeOutDown 0.3s ease-in-out forwards;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
