@use "./variables" as *;

@for $i from 1 through 5 {
  h#{$i},
  p {
    margin: 0;
  }
}

body {
  font-family: $font-main;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-side-text {
  &__chapter {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 189.474%;
  }

  &__sub-chapter {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 200%;
  }

  &__sub-chapter-choice {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
  }
}

.bold {
  font-weight: 700 !important;
}

.headline {
  &_small {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 400;
  }

  &_medium-small {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 92.308%;
  }
  &_medium-big {
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 92.308%;
  }
}

.paragraph {
  &_14 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 157.143%;
  }
  &_16 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: -0.032rem;
  }
  &_18 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 200%;
  }
  &_19 {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 152%;
  }
  &_20 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
  }
}
