// colors//
$light-grey: #d9d9d9;
$basic-grey: #979797;
$dark-grey: #4d4d4d;
$dark-forest-green: #0e2517;
$lime-green: #7ab51d;
$dark-green: #0c5a37;
$lime-light: #f3f9ed;
$validation-red: #ff001d;
$light-blue: #00a6ce;
$dark-blue: #5b6771;

// typography//

@mixin font-face($family, $src, $weight, $style) {
  @font-face {
    font-family: $family;
    src: url($src);
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(
  "SimplerPro",
  "../../public/fonts/SimplerPro-Regular.woff",
  400,
  normal
);

@include font-face(
  "SimplerPro",
  "../../public/fonts/SimplerPro-Bold.woff",
  700,
  normal
);

@include font-face(
  "SimplerPro",
  "../../public/fonts/SimplerPro-Black.woff",
  800,
  normal
);

$font-main: "SimplerPro", sans-serif;

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border-radius: 10rem;
  }
}
