@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Black.woff");
  font-weight: 800;
  font-style: normal;
}
.main-container {
  grid-column: 4/13;
  display: grid;
  grid-template-columns: subgrid;
  background-color: #dfe5e6;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7.6rem 0;
}
.main-container::-webkit-scrollbar {
  width: 0.8rem;
}
.main-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10rem;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  line-height: 0.5rem;
  cursor: pointer;
  transition: 0.3s all;
  box-sizing: border-box;
  height: 4.2rem;
  padding: 1rem 2rem;
}
.basic-button.outline {
  background-color: white;
  border: 0.1rem solid #5b6771;
  color: #5b6771;
}
.basic-button.outline:hover {
  background-color: #5b6771;
  color: white;
}
.basic-button.solid {
  background-color: #5b6771;
  color: white;
}
.basic-button.solid:hover {
  background-color: rgb(68.25, 77.25, 84.75);
  color: white;
}
.basic-button.solid:disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
}
.basic-button.with-icon {
  gap: 1.2rem;
}

button.with-icon:after,
a.with-icon:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem !important;
}
button.with-icon.download:after,
a.with-icon.download:after {
  background: url("../../public/icons/download_icon.svg") no-repeat center;
}
button.with-icon.download:hover:after,
a.with-icon.download:hover:after {
  background: url("../../public/icons/download_icon_white.svg") no-repeat center;
}
button.with-icon.print:after,
a.with-icon.print:after {
  background: url("../../public/icons/print_icon.svg") no-repeat center;
}
button.with-icon.print:hover:after,
a.with-icon.print:hover:after {
  background: url("../../public/icons/print_icon_white.svg") no-repeat center;
}

.toggle-container {
  color: #979797;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.toggle-container .toggle {
  width: 3.6rem;
  height: 2rem;
  background-color: #d9d9d9;
  border-radius: 1.2rem;
  position: relative;
  transition: all 0.3s;
}
.toggle-container .toggle:after {
  position: absolute;
  background-color: white;
  filter: drop-shadow(0 1px 2px rgba(16, 24, 40, 0.06)) drop-shadow(0 1px 3px rgba(16, 24, 40, 0.1));
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  display: block;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.toggle-container .toggle.active {
  background-color: #4d4d4d;
}
.toggle-container .toggle.active:after {
  left: 1.8rem;
}

h1,
p {
  margin: 0;
}

h2,
p {
  margin: 0;
}

h3,
p {
  margin: 0;
}

h4,
p {
  margin: 0;
}

h5,
p {
  margin: 0;
}

body {
  font-family: "SimplerPro", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-side-text__chapter {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 189.474%;
}
.nav-side-text__sub-chapter {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 200%;
}
.nav-side-text__sub-chapter-choice {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.bold {
  font-weight: 700 !important;
}

.headline_small {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
}
.headline_medium-small {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 92.308%;
}
.headline_medium-big {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 92.308%;
}

.paragraph_11 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 122%;
}
.paragraph_12 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 125%;
}
.paragraph_14 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 157.143%;
}
.paragraph_15 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 113.333%;
}
.paragraph_18 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 200%;
}
.paragraph_19 {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 152%;
}
.paragraph_20 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
}

html {
  font-size: 8px;
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "SimplerPro", sans-serif;
  padding: 0;
}/*# sourceMappingURL=globals.css.map */