@use "../../../../../../styles/variables" as *;

.summary {
  &-header {
    grid-column: 2 / 9;
    position: sticky;
    top: -11rem;
    background-color: $light-blue;
    grid-template-columns: subgrid;
    display: grid;
    z-index: 9;

    .title {
      grid-column: 2 / 7;
    }
  }

  &-main {
    grid-column: 2 / 7;
    margin-top: 1rem;
    padding: 4rem 0;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    display: flex;
    justify-content: space-between;
    grid-template-columns: subgrid;
  }

  &-buttons {
    display: flex;
    gap: 2.9rem;
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
