@use "../../styles/variables" as *;

@media only screen and (max-width: 1023px) {
  .mobile-screen-warning-container {
    height: 100vh;
    display: flex !important;
    flex-direction: column;
    background-color: $lime-light;

    .head {
      background-color: $darker-blue;
      height: 17rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      flex-direction: column;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 1rem;
      box-sizing: border-box;

      img {
        width: 100%;
        height: auto;
      }

      .title {
        line-height: 120%;
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0 4rem;
      }

      .big-button {
        margin: 2rem;
        box-sizing: border-box;
        width: -webkit-fill-available;
      }
    }
  }
}

.mobile-screen-warning-container {
  display: none;
}
