@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Black.woff");
  font-weight: 800;
  font-style: normal;
}
.dropdown {
  height: 100%;
}
.dropdown .dropdown__menu {
  box-shadow: 0 0 20px 0px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
  z-index: 11;
  top: 3.7rem;
  min-width: 20rem;
}
.dropdown .dropdown__menu .dropdown__menu-list {
  max-height: 25rem;
}
.dropdown .dropdown__menu .dropdown__menu-list::-webkit-scrollbar {
  width: 0.8rem;
}
.dropdown .dropdown__menu .dropdown__menu-list::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10rem;
  opacity: 1;
}
.dropdown .dropdown__menu .dropdown__option {
  transition: 0.3s all;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #0e2517;
}
.dropdown .dropdown__menu .dropdown__option--is-focused,
.dropdown .dropdown__menu .dropdown__option--is-selected {
  background-color: transparent;
  color: #00a6ce;
  cursor: pointer;
}
.dropdown .dropdown__control--is-disabled {
  background-color: transparent;
  opacity: 0.5;
}
.dropdown .dropdown__control {
  cursor: pointer !important;
}
.dropdown .dropdown__control, .dropdown .dropdown__control:focus {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid #979797;
  outline: none;
  font-family: "SimplerPro", sans-serif;
  padding: 0;
  height: 100%;
  transition: 0.3s all;
  border-radius: 0;
  box-shadow: none;
  direction: rtl;
}
.dropdown .dropdown__control *, .dropdown .dropdown__control:focus * {
  padding: 0;
  color: #0e2517;
}
.dropdown .dropdown__control::placeholder, .dropdown .dropdown__control:focus::placeholder {
  color: #0e2517;
}
.dropdown .dropdown__control:-webkit-autofill, .dropdown .dropdown__control:-webkit-autofill:focus, .dropdown .dropdown__control:-webkit-autofill:hover, .dropdown .dropdown__control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
.dropdown .dropdown__control--is-disabled {
  background-color: transparent;
  opacity: 0.5;
}
.dropdown .dropdown__indicator-separator {
  display: none;
}
.dropdown .dropdown__clear-indicator {
  display: none !important;
}
.dropdown .dropdown__dropdown-indicator svg {
  display: none;
}
.dropdown .dropdown__dropdown-indicator:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem !important;
  content: "";
  background: url("../../../../public/icons/arrow-down.svg") no-repeat center;
  rotate: 0deg;
  transition: 0.3s all;
}
.dropdown .dropdown__control--menu-is-open .dropdown__indicator:after {
  rotate: 180deg;
}

form .input:nth-last-child(-n+4) .dropdown__menu {
  bottom: 5rem;
  top: auto;
}/*# sourceMappingURL=dropdown.css.map */