@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Black.woff");
  font-weight: 800;
  font-style: normal;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-container .headline {
  margin-bottom: 1rem;
}
.form-container .subtitle {
  margin: 4rem 0 1rem 0;
}
.form-container .validation,
.form-container .error-message {
  color: #ff001d;
}
.form-container form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.1rem;
  align-content: space-between;
  height: 100%;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.form-container form::-webkit-scrollbar {
  width: 0.8rem;
}
.form-container form::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10rem;
}
.form-container form .row {
  position: relative;
  margin-bottom: -0.3rem;
}
.form-container form .row.input {
  height: 6rem;
  margin-bottom: 3rem;
}
.form-container form .row.input:has([data-testid=otp-input]) {
  height: 12rem;
}
.form-container form .row.checkbox {
  height: 2rem;
  margin-bottom: 2rem;
}
.form-container form .row-1 {
  grid-column: 1/3;
}
.form-container form .row:has(input[type=checkbox]) {
  grid-column: 1/3;
  align-items: center;
}
.form-container form .row .otp-label {
  margin-bottom: 1rem;
}
.form-container form .row :global(.MuiInputBase-formControl) {
  height: 7rem;
}
.form-container form .row :global(.MuiInputBase-formControl):global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
  border-color: #00a6ce;
  border-width: 0.1rem;
}
.form-container form .row :global(.MuiInputBase-formControl) :global(.MuiInputBase-input) {
  border-bottom: none !important;
  font-size: 4rem;
}
.form-container form .row :global(.MuiInputBase-formControl) :global(.MuiOutlinedInput-notchedOutline) {
  border-color: black;
}
.form-container form .row:has(.error-message) > input,
.form-container form .row:has(.error-message) :global(.dropdown__control) {
  border-bottom: 0.1rem solid #ff001d !important;
}
.form-container form .row:has(.error-message) input:before {
  border-color: red;
}
.form-container form input:not(input[type=checkbox]), .form-container form input:not(input[type=checkbox]):focus,
.form-container form :global(.dropdown__control),
.form-container form :global(.dropdown__control):focus {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid #979797;
  outline: none;
  font-family: "SimplerPro", sans-serif;
  padding: 0;
  height: 100%;
  transition: 0.3s all;
  border-radius: 0;
  box-shadow: none;
  direction: rtl;
}
.form-container form input:not(input[type=checkbox]) *, .form-container form input:not(input[type=checkbox]):focus *,
.form-container form :global(.dropdown__control) *,
.form-container form :global(.dropdown__control):focus * {
  padding: 0;
  color: #0e2517;
}
.form-container form input:not(input[type=checkbox])::placeholder, .form-container form input:not(input[type=checkbox]):focus::placeholder,
.form-container form :global(.dropdown__control)::placeholder,
.form-container form :global(.dropdown__control):focus::placeholder {
  color: #0e2517;
}
.form-container form input:not(input[type=checkbox]):-webkit-autofill, .form-container form input:not(input[type=checkbox]):-webkit-autofill:focus, .form-container form input:not(input[type=checkbox]):-webkit-autofill:hover, .form-container form input:not(input[type=checkbox]):-webkit-autofill:active,
.form-container form :global(.dropdown__control):-webkit-autofill,
.form-container form :global(.dropdown__control):-webkit-autofill:focus,
.form-container form :global(.dropdown__control):-webkit-autofill:hover,
.form-container form :global(.dropdown__control):-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
.form-container form :global(.dropdown__control--is-disabled) {
  background-color: transparent;
  opacity: 0.5;
}
.form-container form label:has(input[type=checkbox]) {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.form-container form input[type=checkbox] {
  appearance: none;
  margin: 0;
}
.form-container form input[type=checkbox]:before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  border: 0.1rem solid #4d4d4d;
  border-radius: 0.4rem;
  background-color: white;
  transition: 0.3s all;
}
.form-container form input[type=checkbox]:checked:before {
  background-color: #5b6771 !important;
  border-color: #5b6771;
  background: url("../../../../public/icons/checkmark_white.svg") no-repeat center;
  background-size: 1rem !important;
}
.form-container form input[type=checkbox]:checked:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.4rem;
  width: 0.5rem;
  height: 0.8rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
.form-container form .error-message {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}
.form-container form .error-message.general-error {
  text-align: center;
  grid-column: 1/3;
}
.form-container form .submit-button {
  width: 100%;
  grid-column: 1/3;
  margin-top: 0.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.form-container form .secondery-cta-wrapper {
  grid-column: 1/3;
  margin: 2rem auto auto auto;
}/*# sourceMappingURL=form.module.css.map */