@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SimplerPro";
  src: url("../../public/fonts/SimplerPro-Black.woff");
  font-weight: 800;
  font-style: normal;
}
.side-menu {
  grid-column: 1/4;
  padding: 0 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 100%;
  position: relative;
  background-color: white;
  transform: translate(100%, 0);
  transition: transform 0.3s ease;
}
.side-menu.side-menu--active {
  transform: translate(0, 0);
}
.side-menu button {
  color: #979797;
  transition: 0.3s all;
}
.side-menu .menu {
  display: flex;
  flex-direction: column;
}
.side-menu .menu ul.nav-side-menu > li.active .chapter-text > button,
.side-menu .menu ul.nav-side-menu > li.active .chapter-text p, .side-menu .menu ul.nav-side-menu > li:hover .chapter-text > button,
.side-menu .menu ul.nav-side-menu > li:hover .chapter-text p {
  color: #00a6ce;
}
.side-menu .menu ul.nav-side-menu > li .sub-chapter.completed > a,
.side-menu .menu ul.nav-side-menu > li .sub-chapter.completed p {
  color: #00a6ce;
}
.side-menu .menu ul.nav-side-menu > li.skipped .chapter-text > a,
.side-menu .menu ul.nav-side-menu > li.skipped .chapter-text p {
  text-decoration: line-through;
}
.side-menu .menu ul.nav-side-menu > li *:not(.active) {
  color: #979797;
}
.side-menu .menu ul.nav-side-menu > li *:not(.active):hover {
  color: #00a6ce;
}
.side-menu .menu ul.nav-side-menu > li .active > * {
  color: #00a6ce !important;
}
.side-menu .menu ul.nav-side-menu > li .completed a,
.side-menu .menu ul.nav-side-menu > li .completed p {
  color: #0e0d23;
}
.side-menu .menu ul.nav-side-menu > li .skipped a,
.side-menu .menu ul.nav-side-menu > li .skipped p {
  text-decoration: line-through;
}
.side-menu .menu ul.nav-side-menu .chapter {
  border-bottom: 0.1rem solid #979797;
  height: 6.1rem;
}
.side-menu .menu ul.nav-side-menu .chapter-progress {
  display: flex;
  gap: 1rem;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-text {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.1rem;
  padding-top: 2rem;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-text p {
  font-size: 1.8rem;
  transition: 0.3s all;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-content {
  opacity: 0;
  visibility: hidden;
  padding-right: 3rem;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-content > li.opened {
  padding-bottom: 1rem;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-content:has(.opened) {
  padding-bottom: 1rem;
  opacity: 1;
  visibility: visible;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-content .principles {
  height: 0;
  overflow: hidden;
  padding-right: 4rem;
}
.side-menu .menu ul.nav-side-menu .chapter .chapter-content li.opened .principles {
  height: auto;
}
.side-menu .menu ul.nav-side-menu .chapter.opened {
  height: auto;
}
.side-menu .menu ul.bottom-links {
  padding-top: 3rem;
}
.side-menu .menu ul.bottom-links button {
  color: #979797;
  transition: 0.3s all;
}
.side-menu .menu ul.bottom-links button.active {
  color: #00a6ce !important;
}
.side-menu .menu ul.bottom-links button:hover {
  color: #00a6ce;
}
.side-menu .menu.self-assessment .self-assessment-header {
  margin: 4rem 0 0 0;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #979797;
}
.side-menu .menu.self-assessment .self-assessment-header .title {
  margin-bottom: 1rem;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter {
  height: auto;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter-content .active {
  margin-bottom: 2rem;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter a,
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .active {
  pointer-events: none;
  color: black !important;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter-text {
  padding: 1rem 0 3.5rem 0;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter-text,
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .active {
  display: flex;
  flex-direction: column;
  height: auto !important;
  align-items: normal !important;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider {
  pointer-events: all;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  height: 0.8rem;
  background: #979797;
  border-radius: 1rem;
  opacity: 1;
  transition: 0.3s all;
  position: absolute;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider:hover {
  opacity: 1;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider::-webkit-slider-thumb {
  opacity: 1;
  -webkit-appearance: none;
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: white;
  fill: var(--White, #fff);
  filter: drop-shadow(0 2px 4px rgba(16, 24, 40, 0.06)) drop-shadow(0 4px 8px rgba(16, 24, 40, 0.1));
  cursor: pointer;
  border-radius: 100%;
  transition: background 0.2s;
  z-index: 99;
  position: relative;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider::-webkit-slider-thumb:active, .side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider::-webkit-slider-thumb:focus {
  background-color: #00a6ce;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider-container {
  position: relative;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  z-index: 1;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider-progress {
  background-color: #00a6ce;
  height: 0.8rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 0;
}
.side-menu .menu.self-assessment ul.nav-side-menu .chapter .range-slider-value {
  position: absolute;
  top: 3rem;
  right: 2rem;
  pointer-events: none;
  transition: left 0.1s;
  color: var(--Color, #0e2517);
  font-family: SimplerPro_V3;
  font-size: 1.6rem;
  font-family: "SimplerPro", sans-serif;
  font-weight: 700;
  width: fit-content;
}
.side-menu .more {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 10rem;
}
.side-menu .more li:after {
  content: "|";
  color: #979797;
  padding-right: 0.5rem;
}
.side-menu .more li:last-child:after {
  content: "";
}/*# sourceMappingURL=sideMenu.module.css.map */