@use "../../../../../../styles/variables" as *;

.menu {
  height: 100%;
}

.side-menu {
  grid-column: 1/4;
  padding: 0 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: 100%;
  position: relative;
  background-color: white;
  transform: translate(100%, 0);
  transition: transform 0.3s ease;
  @include scroll-bar;

  .nav-side-menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  //stays active until bug fixed//

  &.side-menu--active {
    transform: translate(0, 0);
  }

  button {
    color: $basic-grey;
    transition: 0.3s all;
  }

  .menu {
    display: flex;
    flex-direction: column;
    // gap: 3rem;
    ul.nav-side-menu {
      > li {
        &.completed {
          button,
          p {
            color: $dark-blue;
          }
        }

        &.skipped {
          button {
            text-decoration: line-through;
          }
        }
      }

      > li {
        &.active,
        &:hover {
          .chapter-text {
            > button,
            p {
              color: $blue;
            }
          }
        }

        &.active {
          .chapter-text {
            > button:first-of-type {
              pointer-events: none;
            }
          }
        }

        .sub-chapter {
          &.completed {
            > a,
            button,
            p {
              color: $blue;
            }
          }
        }

        &.skipped {
          .chapter-text {
            > a,
            p {
              text-decoration: line-through;
            }
          }
        }
        *:not(.active) {
          color: $basic-grey;
          pointer-events: all;

          &:hover {
            color: $blue;
          }
        }
        .active {
          > * {
            color: $blue !important;
            pointer-events: none;
          }
        }

        .completed {
          a,
          button,
          p {
            color: $dark-blue;
          }
        }

        .skipped {
          button,
          p {
            text-decoration: line-through;
          }
        }
      }

      .skip-text {
        color: $basic-grey !important;
        text-decoration: none !important;
      }

      .chapter {
        border-bottom: 0.1rem solid $basic-grey;
        max-height: 6.1rem;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        display: flex;
        flex-direction: column;

        &-progress {
          display: flex;
          gap: 1rem;
        }

        .chapter-text {
          display: block;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 2.1rem;
          padding-top: 2rem;

          p {
            font-size: 1.8rem;
            transition: 0.3s all;
          }
        }

        .chapter-content {
          opacity: 0;
          visibility: hidden;
          padding-right: 3rem;
          display: flex;
          flex-direction: column;

          > li {
            max-height: 5rem;
            overflow: hidden;
            transition: max-height 0.5s ease-out;

            &.opened {
              padding-bottom: 1rem;
              max-height: 100%;
            }
          }
          &:has(.opened) {
            padding-bottom: 1rem;
            opacity: 1;
            visibility: visible;
          }
          .principles {
            height: 0;
            overflow: hidden;
            padding-right: 4rem;
          }

          li.opened {
            .principles {
              height: auto;
            }
          }
        }

        &.opened {
          height: auto;
          max-height: 100%;
        }
      }
    }

    ul.bottom-links {
      padding: 3rem 0 6rem 0;

      button {
        color: $basic-grey;
        transition: 0.3s all;

        &.active {
          color: $blue !important;
        }

        &:hover {
          color: $blue;
        }
      }
    }

    &.self-assessment {
      .self-assessment-header {
        margin: 4rem 0 0 0;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid $basic-grey;

        .title {
          margin-bottom: 1rem;
        }
      }

      ul.nav-side-menu {
        li {
          &:hover {
            color: $basic-grey !important;
          }
        }
        .chapter {
          height: auto;
          overflow: visible;

          button,
          .chapter-text {
            // pointer-events: none;
            color: $basic-grey !important;

            &:hover {
              color: $basic-grey !important;
            }
          }

          &:not(.opened) {
            max-height: 12.1rem;
          }

          &-content {
            .active {
              margin-bottom: 2rem;
            }
          }

          a,
          .active {
            // pointer-events: none;
            color: black !important;
          }

          &-text {
            padding: 1rem 0 3.5rem 0;
          }

          &-text,
          .active {
            display: flex;
            flex-direction: column;
            height: auto !important;
            align-items: normal !important;
          }

          .range-slider {
            pointer-events: all;
            width: 100%;
            margin: 0;
            -webkit-appearance: none;
            height: 0.8rem;
            background: $basic-grey;
            border-radius: 1rem;
            opacity: 1;
            transition: 0.3s all;
            position: absolute;

            &:hover {
              opacity: 1;
            }

            &::-webkit-slider-thumb {
              opacity: 1;
              -webkit-appearance: none;
              appearance: none;
              width: 2.4rem;
              height: 2.4rem;
              background-color: white;
              fill: var(--White, #fff);
              filter: drop-shadow(0 2px 4px rgba(16, 24, 40, 0.06))
                drop-shadow(0 4px 8px rgba(16, 24, 40, 0.1));
              cursor: pointer;
              border-radius: 100%;
              transition: background 0.2s;
              z-index: 99;
              position: relative;
            }

            &::-webkit-slider-thumb:active,
            &::-webkit-slider-thumb:focus {
              background-color: $blue; // or use a hex code like #2196f3
            }

            &-container {
              position: relative;
              width: 100%;
              height: 4rem;
              margin-top: 1rem;
              z-index: 1;
            }

            &-progress {
              background-color: $blue;
              height: 0.8rem;
              border-radius: 1rem;
              position: absolute;
              z-index: -0;
            }

            &-value {
              position: absolute;
              top: 3rem;
              right: 2rem;
              pointer-events: none;
              transition: left 0.1s;
              color: var(--Color, #0e2517);
              font-family: SimplerPro_V3;
              font-size: 1.6rem;
              font-family: $font-main;
              font-weight: 700;
              width: fit-content;
            }
          }
        }
      }
    }
  }

  .more {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 10rem;

    li {
      &:after {
        content: "|";
        color: $basic-grey;
        padding-right: 0.5rem;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  .bottom {
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;

    .credits,
    .more {
      text-align: center;
      color: $basic-grey;

      > span {
        a {
          color: $basic-grey;
        }
      }
    }

    .credits {
      padding-bottom: 5rem;
      > span {
        &:last-child {
          padding-right: 0.1rem;
        }
      }
    }

    .more {
      margin-bottom: 3rem;
      > span {
        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }
}
