@use "../../styles/variables" as *;

.header-container {
  grid-column: 1 / 13;
  height: 10rem;
  background-color: $darker-blue;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 22rem;
    height: 100%;
  }
}
