@use "../../styles/variables" as *;
@use "../popUps/popUpContainer/dropdown.scss";

.header-container {
  grid-column: 1 / 13;
  height: 10rem;
  background-color: $darker-blue;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 22rem;
    height: 100%;
  }

  * {
    color: white;
    font-size: 1.9rem;
  }

  .flex-h-align {
    display: flex;
    gap: 4rem;
    align-items: center;

    &.right-side {
      gap: 8rem;
    }

    &.project-options {
      :global(.dropdown--is-disabled) {
        :global(.dropdown__control) {
          opacity: 1;
        }

        :global(.dropdown__indicator) {
          display: none;
        }
      }

      :global(.dropdown__single-value) {
        color: white;
      }
      :global(.dropdown__control) {
        background-color: transparent;
        outline: none;
        border-color: transparent;
        box-shadow: none;
      }

      :global(.dropdown__indicator) {
        &:after {
          background: url("../../../public/icons/arrow-down_white.svg")
            no-repeat center;
          rotate: 0deg;
        }
      }

      :global(.dropdown__control--menu-is-open) {
        :global(.dropdown__indicator) {
          &:after {
            rotate: 180deg;
          }
        }
      }

      :global(.dropdown__value-container) {
        padding: 0;
      }
    }

    &.project-select {
      gap: 1;
    }

    &.summary {
      position: relative;
      padding: 0 3rem 0 2rem;
      gap: 3rem;

      &:after {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        right: -1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0.1rem;
        height: 10rem;
        background-color: white;
      }

      &:before {
        content: "";
        position: absolute;
        margin: auto;
        width: 1rem;
        height: 1rem;
        border-bottom: 0.2rem solid white;
        border-right: 0.2rem solid white;
        display: block;
        right: 1rem;
        bottom: 0;
      }
    }
  }
}
