@use "../../../styles/variables" as *;

.side-menu {
  grid-column: 1/4;
  padding: 0 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 10rem;
  overflow-y: auto;
  height: 86vh;
  position: relative;

  @include scroll-bar;

  a {
    color: $basic-grey;
    transition: 0.3s all;
  }

  .menu {
    display: flex;
    flex-direction: column;
    // gap: 3rem;
    ul.nav-side-menu {
      * {
        color: $basic-grey;

        &:hover {
          color: $lime-green;
        }
      }
      .active {
        > * {
          color: $lime-green;
        }
      }

      .completed {
        a {
          color: $lime-green !important;
        }
      }

      .step {
        border-bottom: 0.1rem solid $basic-grey;
        height: 6.1rem;
        overflow: hidden;

        .step-text {
          display: block;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 2.1rem;
          padding-top: 2rem;

          p {
            font-size: 1.8rem;
          }
        }

        .step-content {
          opacity: 0;
          visibility: hidden;
          padding-right: 3rem;
          > li.active {
            padding-bottom: 1rem;
          }

          &:has(.active) {
            padding-bottom: 1rem;
            opacity: 1;
            visibility: visible;
          }
          .sub-steps {
            height: 0;
            overflow: hidden;
            padding-right: 4rem;
          }

          li.active {
            .sub-steps {
              height: auto;
            }
          }
        }

        &.active {
          height: auto;
        }
      }
    }

    ul.bottom-links {
      padding-top: 3rem;
    }
  }

  .more {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 10rem;

    li {
      &:after {
        content: "|";
        color: $basic-grey;
        padding-right: 0.5rem;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}
